/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* UTILITIES */
.container {
    width: 1170px;
}
.flex {
    display: flex;
}
.jc-between{
    justify-content: space-between
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-items: center;
}

/* HEADER */
header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

.main-header{
    padding: 25px 20px;
}